/*
 * This file is part of Big Eyes Solution EventApp.
 *
 *  Foobar is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Foobar is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */


section { height: 100% }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#eventhub-mainlogo {
    background-color: #FFD126;
    background-image: url('./../img/event-hub-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45%
}

.be-main-menu-grid {
    height: 45%;
    color: #3B3A3F !important;
}

.be-main-menu-grid .ui-grid-b { height: 50%; background: red }

.be-main-menu-grid .ui-block-a, .be-main-menu-grid .ui-block-b, .be-main-menu-grid .ui-block-c, .be-main-menu-grid .ui-btn { height: 100% !important; }

.be-main-menu-grid .ui-btn { border-radius: 0 !important; margin: 0 !important}

.center-vertically {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.be-main-menu-search-container {
    background: #FFD126;
    height: 10%;
    padding: 0rem 1rem 0rem 1rem;
}

.be-main-menu-search-container .ui-input-search { 
    margin: 0 !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
